
.custom-button{
    padding: 12px 28px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 400;
    color:white;
    background: $primary-color;
    outline:none;
    border:none;
    cursor: pointer;
    transition:background 0.3s ease;

    &:hover{
        background: linear-gradient(120deg, $primary-color, $secondary-color);
    }
}